<section>
    <section class="panel">
        <header class="panel-heading">
            <div class="row">
                <div class="pull-right mg-r-sm">
                    <button class="btn btn-info" type="button"
                            ng-controller="HookController" ng-click="startBuild(project)">
                        <i class="fa fa-chevron-right mg-r-xs"></i>BUILD PROJECT
                    </button>
                    <a class="btn btn-default" type="button"
                       href="/{{project.namespace}}/{{project.name}}/edit">
                        <i class="fa fa-gear mg-r-xs"></i>SETTINGS
                    </a>
                </div>
                <div class="col-md-7">
                    <table class="table mg-b-xs table-condensed no-border">
                        <tr>
                            <td class="text-muted text-right no-pd-t no-pd-b">Repository:</td>
                            <td class="no-pd-t no-pd-b">{{project.repository}}</td>
                        </tr>
                        <tr>
                            <td class="text-muted text-right no-pd-t no-pd-b">Ref:</td>
                            <td class="no-pd-t no-pd-b">{{project.ref}}</td>
                        </tr>
                        <tr>
                            <td class="text-muted text-right no-pd-t no-pd-b">Created:</td>
                            <td class="no-pd-t no-pd-b">{{project.creationDate| amTimeAgo}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-12" marked="project.description">

                </div>
            </div>
        </header>


        <div class="panel-body" infinite-scroll="loadMore()">
            <loader on="builds"></loader>

            <p ng-show="builds.length === 0" class="text-center text-muted">
                No builds to show
            </p>

            <ul class="content-list">
                <li ng-repeat="build in builds track by build.id">
                    <div class="row">
                        <div class="col-md-3">

                            <table class="table mg-b-xs table-condensed no-border no-pd">
                                <tr>
                                    <td class="text-muted text-right no-pd-t no-pd-b">Number:</td>
                                    <td class="no-pd-t no-pd-b">{{build.id}}</td>
                                </tr>
                                <tr>
                                    <td class="text-muted text-right no-pd-t no-pd-b">Started:</td>
                                    <td class="no-pd-t no-pd-b">{{build.creationDate| amTimeAgo}}</td>
                                </tr>
                                <tr>
                                    <td class="text-muted text-right no-pd-t no-pd-b">Stage:</td>
                                    <td class="no-pd-t no-pd-b">{{build.currentStage}}</td>
                                </tr>
                                <tr>
                                    <td class="text-muted text-right no-pd-t no-pd-b">Commit:</td>
                                    <td class="no-pd-t no-pd-b">{{build.lastMessage}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-9">
                            <div ng-repeat="stage in build.stages"
                                 ng-class="{'col-lg-12' : build.stages.length === 1,
                 'col-lg-6' : build.stages.length === 2,
                 'col-lg-4' : build.stages.length === 3,
                 'col-lg-3' : build.stages.length > 3,
                 'col-md-12' : build.stages.length === 1,
                 'col-md-6' : build.stages.length === 2,
                 'col-md-4' : build.stages.length > 2}"
                            >
                                <div class="row">
                                    <div class="mg-b-xs">
                                        {{stage.name}}
                                    </div>
                                    <stage-progress project=project stage=stage build=build></stage-progress>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

    </section>
</section>