<section>
    <section class="panel">
        <header class="panel-heading" ng-controller="HookController">

            <div class="row">
                <div class="col-md-3">
                    <table class="table mg-b-xs table-condensed">
                        <tr>
                            <td class="text-muted text-right no-border">Number:</td>
                            <td class="no-border">{{build.id}}</td>
                        </tr>
                        <tr>
                            <td class="text-muted text-right">Created:</td>
                            <td>{{build.creationDate| amTimeAgo}}</td>
                        </tr>
                        <tr>
                            <td class="text-muted text-right">Stage:</td>
                            <td>{{build.currentStage}}</td>
                        </tr>
                        <tr>
                            <td class="text-muted text-right">Commit:</td>
                            <td>{{build.lastMessage}}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-9">
                    <div ng-repeat="stage in build.stages"
                         ng-class="{'col-lg-12' : build.stages.length === 1,
                 'col-lg-6' : build.stages.length === 2,
                 'col-lg-4' : build.stages.length === 3,
                 'col-lg-3' : build.stages.length > 3,
                 'col-md-12' : build.stages.length === 1,
                 'col-md-6' : build.stages.length === 2,
                 'col-md-4' : build.stages.length > 2}"
                    >
                        <div class="row">
                            <div class="mg-b-xs">
                                {{stage.name}}
                            </div>
                            <stage-progress project=build.project stage=stage build=build></stage-progress>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <div class="panel-body">
            <loader on="build"></loader>

            <div ng-show="build">

                <div class="col-md-10 ">
                    <div class="panel">
                        <header class="panel-heading">
                            <a href="#bottom" ng-click="followLog()" class="btn btn-default btn-xs pull-right">
                                Follow log
                            </a>
                            <span class="text-muted">Console Log </span>
                            {{job.name}}
                            <span class="text-muted" ng-show="job.worker">on</span>
                            <span ng-show="job.worker">{{job.worker}}</span>
                            <span class="text-muted" ng-show="job.worker">worker</span>
                        </header>
                        <div class="panel-body">

                            <div class="text-center text-muted"
                                 ng-show="job.status === 'READY' || job.status === 'WAITING'">
                                Not started yet.
                            </div>
                            <div ng-hide="job.status === 'READY' || job.status === 'WAITING'" class="output">
                                <loader on="output"></loader>
                                <div ng-show="job.status === 'IN_PROGRESS'">
                                <span ng-repeat="chunk in output"
                                      style="white-space: pre;">{{chunk.output}}&#10;</span>
                                    <i class="fa fa-spinner fa-spin"></i>
                                </div>
                                <span ng-hide="job.status === 'IN_PROGRESS'"
                                      style="white-space: pre;">{{output.output}}</span>
                                
                            </div>
                            <a href="#bottom" id="bottom" ng-click="followLog()"
                               class="btn btn-default btn-xs pull-right">
                                Follow log
                            </a>
                        </div>
                    </div>
                </div>
                <div class="list-group col-md-2">
                    <div href="#" class="list-group-item active">
                        Jobs in {{stage.name}}
                    </div>
                    <a href="#" ng-click="selectJob(job)" class="list-group-item"
                       ng-repeat="job in stage.jobBuilds track by job.id">
                        <span class="badge" ng-class="{
                        'text-success': job.status === 'DEPLOYED',
                        'text-danger': job.status === 'FAILED',
                        'text-info': job.status === 'IN_PROGRESS',
                        'text-warning': job.status === 'STOPPED'
                        }" ng-bind-html="job.status | jobStatusIcon"></span>
                        {{job.name}}
                        <div class="text-muted">{{job.status | jobStatus}}</div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</section>