<section>
    <section class="panel">
        <header class="panel-heading">
            <div class="pull-right">
                <button class="btn btn-info" type="button"
                        ng-controller="HookController" ng-click="startBuild(project)">
                    <i class="fa fa-chevron-right mg-r-xs"></i>BUILD PROJECT
                </button>
                <a class="btn btn-default" type="button"
                   href="/{{project.namespace}}/{{project.name}}/edit">
                    <i class="fa fa-gear mg-r-xs"></i>EDIT PROJECT
                </a>
            </div>
            <div>
                <span class="text-muted">Repository: </span>{{project.repository}}
            </div>
            <div>
                <span class="text-muted">Ref: </span>{{project.ref}}
            </div>
            <div>
                <span class="text-muted">Created: </span>{{project.creationDate| amTimeAgo}}
            </div>

        </header>


        <div class="panel-body" infinite-scroll="loadMore()">
            <loader on="builds"></loader>

            <p ng-show="builds.length === 0" class="text-center text-muted">
                No builds to show
            </p>

            <ul class="content-list">
                <li ng-repeat="build in builds track by build.id">
                    <div class="row">
                        <div class="col-md-2">
                            <div>
                                <span class="text-muted">Number: </span> {{build.id}}
                            </div>
                            <div>
                                <span class="text-muted">Started: </span>{{build.creationDate| amTimeAgo}}
                            </div>
                            <div>
                                <span class="text-muted">Stage: </span>{{build.currentStage}}
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div ng-repeat="stage in build.stages"
                                 ng-class="{'col-lg-12' : build.stages.length === 1,
                 'col-lg-6' : build.stages.length === 2,
                 'col-lg-4' : build.stages.length > 2,
                 'col-md-12' : build.stages.length === 1,
                 'col-md-6' : build.stages.length > 1}"
                            >
                                <div class="row">
                                    <div class="mg-b-xs">
                                        {{stage.name}}
                                    </div>
                                    <stage-progress project=project stage=stage build=build></stage-progress>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

    </section>
</section>