<section>
    <section class="panel">
        <header class="panel-heading">
            TODO: snap pipeline here
        </header>


        <div class="panel-body">
            <loader on="build"></loader>

            <div ng-show="build">
                <div class="list-group col-md-2">
                    <div href="#" class="list-group-item active">
                        Jobs in {{stage.name}}
                    </div>
                    <a href="#" ng-click="selectJob(job)" class="list-group-item"
                       ng-repeat="job in stage.jobBuilds track by job.id">
                        <span class="badge" ng-class="{
                        'text-success': job.status === 'DEPLOYED',
                        'text-danger': job.status === 'FAILED',
                        'text-info': job.status === 'IN_PROGRESS',
                        'text-warning': job.status === 'STOPPED'
                        }" ng-bind-html="job.status | jobStatusIcon"></span>
                        {{job.name}}
                        <div class="text-muted">{{job.status | jobStatus}}</div>
                    </a>
                </div>

                <div class="col-md-10 ">
                    <div class="panel box-shadow">
                        <header class="panel-heading">
                            {{job.name}}
                            <span class="text-muted">console log</span>
                        </header>
                        <div class="panel-body">
                            <div class="text-center text-muted"
                                 ng-show="job.status === 'READY' || job.status === 'WAITING'">
                                Not started yet.
                            </div>
                            <div ng-hide="job.status === 'READY' || job.status === 'WAITING'">
                                <loader on="output"></loader>
                                <div ng-show="job.status === 'IN_PROGRESS'">
                                <span ng-repeat="chunk in output"
                                      style="white-space: pre;">{{chunk.output}}&#10;</span>
                                    <i class="fa fa-spinner fa-spin"></i>
                                </div>
                                <span ng-hide="job.status === 'IN_PROGRESS'"
                                      style="white-space: pre;">{{output.output}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>