
<!-- header menu -->
<header class="header header-fixed navbar" ng-include="'/views/parts/header.html'">
</header>
<!-- /header menu -->


<section class="layout">

    <!-- sidebar menu -->
    <aside class="sidebar canvas-left" ng-include="'/views/parts/sidebar.html'">
    </aside>
    <!-- /sidebar menu -->

    <!-- main content -->
    <section class="main-content box-shadow">

        <!-- content wrapper -->
        <div class="content-wrap" role="main" nicescroll>
            <div class="row">
                <div class="col-md-12" ui-view >

                </div>
            </div>
        </div>
        <!-- /content wrapper -->

    </section>
    <!-- /main content -->
</section>

