<section class="panel full-page">
    <div class="panel-body">

        <form class="form-signin" ng-submit="login()">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="input" id="inputEmail" class="form-control" placeholder="Email address"
                   required="" autofocus="" ng-model="credentials.username">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                   required="" ng-model="credentials.password">

            <div class="mg-t-md">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>
        </form>
    </div>
</section>