
<form role="form" name="form" class="form-validation" ng-submit="create()">
    <section class="panel">
        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label text-right mg-t-sm">Project name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="my-project" required
                               ng-model="model.name" name="name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label text-right mg-t-sm">Namespace</label>
                    <div class="col-sm-10">
                        <select ng-model="model.namespace" class="form-control selectpicker" required>
                            <option ng-repeat="option in namespaces" value="{{option}}">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label text-right mg-t-sm">Repository</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="git@github.com:dick-the-deployer/dick.git"
                               required ng-model="model.repository" name="repository">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label text-right mg-t-sm">Ref</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="master" required
                               ng-model="model.ref" name="ref">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label text-right mg-t-sm">Environment</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-11">
                                <div ng-repeat="variable in model.environmentVariables" class="row">
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control mg-b-md" placeholder="USER.HOME" required
                                               ng-model="variable.key" >
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control mg-b-md" placeholder="/home/foo" required
                                               ng-model="variable.value" >
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-white btn-sm" ng-click="removeVariable(variable)" type="button"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="pull-right">
                                    <button class="btn btn-white btn-sm" ng-click="addVariable()" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label text-right mg-t-sm">
                        Description
                        <div class="text-muted">(optional, markdown supported)</div>
                    </label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" ng-model="model.description" ></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-right text-muted">
                Need a group for several dependent projects?
                <button class="btn btn-white" ui-sref="dick.groups-new">CREATE A GROUP</button>
            </div>
            <button class="btn btn-success" type="submit" ng-disabled="form.$invalid || processing" >CREATE PROJECT</button>
        </div>
    </section>
</form>
