<section>
    <section class="panel infinite-container">
        <header class="panel-heading">
            <span class="pull-right">
                <button type="button" class="btn btn-success" ui-sref="dick.groups-new">
                    <i class="fa fa-plus mg-r-xs"></i>NEW GROUP
                </button>
            </span>
            <div>Welcome to the groups!</div>
            <span class="text-muted">You can browse groups here.</span>
        </header>


        <div class="panel-body" infinite-scroll="loadMore()" >
            <loader on="groups"></loader>

            <p ng-show="groups.length === 0" class="text-center text-muted">
                No groups to show
            </p>
            <ul class="content-list">
                <li ng-repeat="group in groups track by group.name">
                    <span class="actions">
                        <button data-toggle="button" class="btn btn-white btn-sm">
                            <i class="fa fa-heart"></i>
                        </button>
                        <button data-toggle="button" class="btn btn-white btn-sm">
                            <i class="fa fa-heart"></i>
                        </button>
                    </span>
                    <div>
                        <a href="/groups/{{group.name}}"><b ng-bind="group.name"></b></a>
                        <span class="text-muted">created {{group.creationDate| amTimeAgo}}</span>
                    </div>
                    <div class="text-muted">
                        {{group.projects.length}} projects
                    </div>
                </li>
            </ul>
        </div>
    </section>
</section>