<section>
    <section class="panel infinite-container">
        <header class="panel-heading">
            <div>{{group.name}} <span class="text-muted">created {{group.creationDate| amTimeAgo}}</span></div>
            <span class="text-muted" ng-bind="group.description">You can browse groups here.</span>
        </header>


        <div class="panel-body" infinite-scroll="loadMore()" >
            <loader on="group"></loader>

            <div ng-repeat="project in group.projects" class="panel col-lg-3 col-md-4 col-sm-6">

                <div ng-include=" '/views/parts/project.html'"></div>
            </div>
        </div>
    </section>
</section>