/* 
    Created on : Dec 13, 2015, 10:37:44 PM
    Author     : mariusz
*/

.header .brand::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,transparent 0,rgba(0,0,0,.07) 15%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.07) 85%,transparent 100%);
    background-image: -moz-linear-gradient(left,transparent 0,rgba(0,0,0,.07) 15%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.07) 85%,transparent 100%);
    background-image: -ms-linear-gradient(left,transparent 0,rgba(0,0,0,.07) 15%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.07) 85%,transparent 100%);
    background-image: linear-gradient(to right,transparent 0,rgba(0,0,0,.07) 15%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.07) 85%,transparent 100%);
}
.header .header-separator::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,transparent 0,rgba(0,0,0,.07) 15%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.07) 85%,transparent 100%);
    background-image: -moz-linear-gradient(left,transparent 0,rgba(0,0,0,.07) 15%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.07) 85%,transparent 100%);
    background-image: -ms-linear-gradient(left,transparent 0,rgba(0,0,0,.07) 15%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.07) 85%,transparent 100%);
    background-image: linear-gradient(to right,transparent 0,rgba(0,0,0,.07) 15%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.07) 85%,transparent 100%);
}
.sidebar .separator {
    height: 1px;
    background-image: -webkit-linear-gradient(left,transparent 0,rgba(0,0,0,.07) 15%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.07) 85%,transparent 100%);
    background-image: -moz-linear-gradient(left,transparent 0,rgba(0,0,0,.07) 15%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.07) 85%,transparent 100%);
    background-image: -ms-linear-gradient(left,transparent 0,rgba(0,0,0,.07) 15%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.07) 85%,transparent 100%);
    background-image: linear-gradient(to right,transparent 0,rgba(0,0,0,.07) 15%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.07) 85%,transparent 100%);
}

.sidebar .main-navigation {
    padding: 0 10px 0 5px;
}

.header .page-title{
    font-size: 19px;
}

.header .heading-font{
    font-size: 16px;
}

.sidebar,
.brand {
    transition: 0.3s;
}
.brand{
    text-align: left; 
    white-space: nowrap;
}

.user li,
.main-navigation li {
    width: 185px; 
}
.main-navigation li a {
    height: 42px; 
}

.main-navigation ul > li i {
    margin: 5px 0 0 6px;
    text-align: left; 
}
.small-sidebar .main-navigation li {
    width: auto;
}
.user li i {
    margin-left: 19px;
}
.list-initial {
    list-style: initial;
}

.content-list li {
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px 10px 5px 15px;
    border-top: 1px solid #ebeef1;
}

.content-list > li:first-child {
    border-top: none;
    padding-top: 0px;
}
.content-list > li:last-child {
    padding-bottom: 0px;
}

.content-list li .actions {
    float: right;
}

/*********************/
/* Skin panel style */
.panel-inverse {
    background-color: #333333;
    color: #dddddd;
    border-color: #000;
}

.panel-inverse > .panel-heading {
    color: #c2e0f4;
    background-color: #222222;
    border-color: #000;
}

.panel-inverse > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #000;
}

.panel-inverse > .panel-heading a {
    color: #c2e0f4;
}

.panel-inverse > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #000;
}

.progress-bar-default {
    background-color: #dddddd;
}

.progress-striped .progress-bar-default {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.no-border {
    border: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.no-pd-b {
    padding-bottom: 0 !important;
}

.no-pd-t {
    padding-top: 0 !important;
}

.output {
    word-wrap: break-word;
    font-family: "Ubuntu Mono";
}