
<div class="header-separator">
    <div class="brand">
        <a href="javascript:;" class="fa fa-bars off-left visible-xs" data-toggle="off-canvas" data-move="ltr"></a>

        <a href="index.html" class="navbar-brand text-white">

            <img src="/favicon.ico" height="30" width="30" class="mg-b-xs" style="display: initial"/>
            <span class="heading-font">
                Dick the Deployer
            </span>
        </a>
    </div>

    <div class="navbar-left pd-t-md pd-l-md page-title" ng-bind-html="metadata.getTitle()">

    </div>

    <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs">
            <a ui-sref="dick.projects-new">
                <i class="fa fa-plus"></i>
            </a>
        </li>
        <li class="hidden-xs">
            <a href="javascript:;">
                <i class="fa fa-gear"></i>
            </a>
        </li>
        <li class="hidden-xs">
            <a href="javascript:;">
                <i class="fa fa-sign-out"></i>
            </a>
        </li>
    </ul>

    <form class="navbar-form navbar-right hidden-xs" role="search" ng-controller="SearchWorkspaceController"
          ng-submit="search()">
        <div class="form-group">
            <button class="btn no-border no-margin bg-none no-pd-l" type="submit">
                <i class="fa fa-search"></i>
            </button>
            <input type="text" class="form-control no-border no-padding search"
                   ng-model="name" placeholder="Search Workspace">
        </div>
    </form>
</div>