<div class="progress mg-r-xs" ng-controller="HookController"
     ng-class="{'box-shadow': stage.name === build.currentStage}">
    <div class="progress-bar progress-bar-striped"
         ng-class="{'progress-bar-success': stage.status === 'DEPLOYED' || stage.status === 'DEPLOYED_STAGE',
                        'progress-bar-warning': stage.status === 'STOPPED',
                        'progress-bar-danger': stage.status === 'FAILED',
                        'active': stage.status === 'IN_PROGRESS'
                     }"
         role="progressbar" aria-valuenow="{{stage.status === 'READY' ? 0 : 100}}"
         aria-valuemin="0" aria-valuemax="100"
         style="width: {{stage.status === 'READY' ? 0 : 100}}%"
         title="{{stage.name}}">

        <a href="/{{project.namespace}}/{{project.name}}/{{build.id}}/{{stage.name}}"
           class="text-white pull-left mg-l-sm">
            <i class="fa fa-external-link-square"></i>
        </a>

        <a href="#" class="text-white ng-hide" ng-click="kill(build)"
           ng-show="stage.status === 'IN_PROGRESS'">
            <i class="fa fa-pause"></i>
        </a>
        <a href="#" ng-click="buildStage(build, stage)" class="text-white pull-right mg-r-sm ng-hide"
           ng-show="stage.status === 'DEPLOYED_STAGE'">
            <i class="fa fa-forward"></i>
        </a>

        <a href="#" ng-click="buildFirstStage(build)" class="text-white mg-l-sm ng-hide"
           ng-show="build.currentStage === null && $first">
            <i class="fa fa-forward"></i>
        </a>
    </div>
</div>