<div class="box-shadow" >
    <header class="panel-heading">
        <span class="pull-right">
            <a href="#">
                <i class="fa fa-gear"></i>
            </a>
        </span>
        <a href="/groups/{{project.namespace}}">{{project.namespace}}</a> / {{project.name}}
    </header>
    <div class="panel-body">
        <div ng-hide="project.lastBuild" class="text-center text-muted">
            There are no builds yet
        </div>
        <div ng-show="project.lastBuild">
            {{project.lastBuild.currentStage}}
            {{project.lastBuild.stages}}
            {{project.lastBuild.status}}
            <div>
                Triggered {{project.lastBuild.creationDate| amTimeAgo}}
            </div>
        </div>
    </div>
    <div class="panel-footer" ng-controller="HookController">
        <button type="button" class="btn btn-white" ng-click="startBuild(project)">
            <i class="fa fa-chevron-right"></i>
        </button>
    </div>
</div>