<div class="box-shadow" ng-controller="HookController">
    <header class="panel-heading">
        <span class="pull-right">
            <a href="/{{project.namespace}}/{{project.name}}/edit">
                <i class="fa fa-gear"></i>
            </a>
        </span>
        <a href="/groups/{{project.namespace}}">{{project.namespace}}</a> / <a
            href="/{{project.namespace}}/{{project.name}}">
            {{project.name}}
        </a>
    </header>
    <div class="panel-body">
        <div ng-hide="project.lastBuild" class="text-center text-muted">
            There are no builds yet
        </div>
        <div ng-show="project.lastBuild">
            <div ng-repeat="stage in project.lastBuild.stages"
                 ng-class="{'col-lg-12' : project.lastBuild.stages.length === 1,
                 'col-lg-6' : project.lastBuild.stages.length === 2,
                 'col-lg-4' : project.lastBuild.stages.length > 2,
                 'col-md-12' : project.lastBuild.stages.length === 1,
                 'col-md-6' : project.lastBuild.stages.length > 1}"
                 >
                <div class="row">

                    <stage-progress project=project stage=stage build=project.lastBuild></stage-progress>

                </div>
            </div>
            <span ng-show="project.lastBuild.status === 'MISSING_DICKFILE'">
                <i class="fa fa-warning"></i> Configuration .dick.yml file missing!
            </span>

            <div ng-show="project.lastBuild.currentStage" class="col-sm-12 row">
                <span class="text-muted text-right col-lg-4">Stage:</span>
                <span class="pd-l-xs">{{project.lastBuild.currentStage}}</span>
            </div>

            <div ng-show="project.lastBuild.currentStage" class="col-sm-12 row">
                <span class="text-muted text-right col-lg-4">Status:</span>
                <span class="pd-l-xs">{{project.lastBuild.status| buildStatus}}</span>
            </div>

            <div ng-show="project.lastBuild" class="col-sm-12 row">
                <span class="text-muted text-right col-lg-4">Commit:</span>
                <span class="pd-l-xs">{{project.lastBuild.lastMessage}}</span>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-white btn-xs" ng-click="startBuild(project)">
            <i class="fa fa-play"></i>
        </button>
        <button type="button" class="btn btn-white btn-xs" ng-click="startWithOptions(project)">
            <i class="fa fa-forward"></i>
        </button>
        <span class="mg-l-xs" ng-show="project.lastBuild">
            <span class="text-muted">Started</span> {{project.lastBuild.id}} <span class="text-muted">build</span> {{project.lastBuild.creationDate| amTimeAgo}}
        </span>
    </div>
</div>