<!-- main navigation -->
<nav class="main-navigation">
    <ul>
        <li ui-sref-active="active">
            <a ui-sref="dick.projects" >
                <i class="fa fa-home"></i>
                <span>Projects</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="dick.groups" >
                <i class="fa fa-group"></i>
                <span>Groups</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="dick.workers" >
                <i class="fa fa-tasks"></i>
                <span>Workers</span>
            </a>
        </li>
    </ul>
    <div class="separator mg-t-sm mg-b-sm"></div>
    <ul class="ng-hide" ng-show="project">
        <li ui-sref-active="active">
            <a ui-sref="dick.builds({name: project.name, namespace: project.namespace})">
                <i class="fa fa-dashboard"></i>
                <span>Builds</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="dick.project({name: project.name, namespace: project.namespace})">
                <i class="fa fa-gears"></i>
                <span>Settings</span>
            </a>
        </li>
    </ul>
    <ul class="ng-hide" ng-show="group">
        <li ui-sref-active="active">
            <a ui-sref="dick.group-details({name: group.name})">
                <i class="fa fa-dashboard"></i>
                <span>{{group.name}}</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="dick.group-edit({name: group.name})">
                <i class="fa fa-gears"></i>
                <span>Settings</span>
            </a>
        </li>
    </ul>
</nav>
<!-- /main navigation -->


<!-- footer -->
<footer>
    <ul class="user">
        <li>
            <i class="fa fa-user fa-2x mg-l-md"></i>
            <span class="pd-md">foo@bar.com</span>
        </li>
    </ul>

    <div class="separator"></div>

    <div class="footer-toolbar pull-left">
        <a href="javascript:;" class="toggle-sidebar pull-right hidden-xs">
            <i class="fa fa-angle-left"></i>
        </a>
    </div>
</footer>
<!-- /footer -->